<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Medic</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap" rel="stylesheet">

    <!-- font Awesome -->
    <script src="https://kit.fontawesome.com/9677de15c9.js" crossorigin="anonymous"></script>

    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <section id="title" class="colored-section">
        <div class="container-fluid" style="
    padding-top: 10px;
    padding-bottom: 10px;">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img src="Images/logo.png" width="70" height="70px" class="d-inline-block" alt="">
                    <span id="navbrand-text">MyMedic</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#location">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
