<%- include('partials/header') %>

<div class="container appointment">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-5">Request an Appointment</h1>

    <form action="/appoint" method="POST">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Patient Name*</label>
          <input type="text" class="form-control" name="name" placeholder="Your Name" required>
        </div>
        <div class="form-group col-md-4">
          <label >Address*</label>
          <input type="text" class="form-control" name="address" placeholder="Address" required>
        </div>
        <div class="form-group col-md-4">
          <label >Phone Number*</label>
          <input type="tel" class="form-control" name="contact" placeholder="Number" pattern="[977]{3}[0-9]{10}" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Email*</label>
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Gender</label>
          <select id="inputState" name="gender" class="form-control">
            <option selected>Male</option>
            <option>Female</option>
            <option>Others</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>DOB</label>
          <input type="date" class="form-control" name="dob" placeholder="Date of Birth">
        </div>
      </div>
      <p><strong>Schedule Information</strong></p>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Select Department</label>
          <select id="inputState" class="form-control" name="depart">
            <option selected>Choose Department</option>
            <option>Neurology</option>
            <option>Cardiology</option>
            <option>Pulmonology</option>
            <option>Gynecology</option>
            <option>Dermatology</option>
            <option>Eye Care</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputState">Select Doctor</label>
          <select id="inputState" class="form-control" name="doctor">
            <option selected>Choose Doctor</option>
            <option>...</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputPassword4">Appointment Date</label>
          <input type="date" class="form-control" id="inputPassword4" name="sDate" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <lable>Preferred Time</lable>
        <select class="form-control col-md-4" name="sTime">
          <option>10 am to 12 pm</option>
          <option>10 am to 12 pm</option>
          <option>10 am to 12 pm</option>
          <option>10 am to 12 pm</option>
          <option>10 am to 12 pm</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Request</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
