<%- include('partials/header'); %>

<section id="title" class="colored-section">
    <div class="container-fluid">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" href="#">
                <img src="Images/logo.png" width="70" height="70px" class="d-inline-block" alt="">
                <span id="navbrand-text">MyMedic</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#location">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Title Section -->
        <div class="row">
            <div class="col-lg-6 ghcs">
                <h1>My Medic Health Care Services Pvt.ltd</h1>
                <p id="head-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab,
                    voluptas!</p>
                    <a class="btn btn-dark btn-lg download-button" href="/login"><i class="fas fa-sign-in-alt"></i>
                        Login</a>

                    <a class="btn btn-outline-light btn-lg download-button" href="/register"><i class="fas fa-user"></i>
                        Register</a>
            </div>
            <div class="col-lg-6">
                <img class="header-img" src="Images/header-img.png" alt="header-img">
            </div>
        </div>
    </div>
</section>



<!-- Services and facility Section -->

<div id="carouselExampleControls" class="carousel slide white-section" data-pause="false">
    <div class="carousel-inner">
        <div id="services">
            <h2>Facilities and Services</h2>
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-4 service-page">
                        <img src="Images/physiotherapy.png" class="service-img" alt="physiotherapy">
                        <h3 class="service-heading">physiotherapy</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                            nisi quasi illo accusamus beatae quae temporibus, architecto alias tenetur amet
                            necessitatibus quibusdam consectetur officiis magnam. Minus rem eius consectetur saepe?
                        </p>
                    </div>
                    <div class="col-lg-4 service-page">
                        <img src="Images/opd.png" class="service-img" alt="physiotherapy">
                        <h3 class="service-heading">OPD</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                            nisi quasi illo accusamus beatae quae temporibus, architecto alias tenetur amet
                            necessitatibus quibusdam consectetur officiis magnam. Minus rem eius consectetur saepe?
                        </p>
                    </div>
                    <div class="col-lg-4 service-page">
                        <img src="Images/x-ray.png" class="service-img" alt="physiotherapy">
                        <h3 class="service-heading">X-ray</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                            nisi quasi illo accusamus beatae quae temporibus, architecto alias tenetur amet
                            necessitatibus quibusdam consectetur officiis magnam. Minus rem eius consectetur saepe?
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 service-page">
                        <img src="Images/ecg-lines.png" class="service-img" alt="physiotherapy">
                        <h3 class="service-heading">ECG</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                            nisi quasi illo accusamus beatae quae temporibus, architecto alias tenetur amet
                            necessitatibus quibusdam consectetur officiis magnam. Minus rem eius consectetur saepe?
                        </p>
                    </div>
                    <div class="col-lg-4 service-page">
                        <img src="Images/lab-pharmacy.png" class="service-img" alt="physiotherapy">
                        <h3 class="service-heading">lab pharmacy</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                            nisi quasi illo accusamus beatae quae temporibus, architecto alias tenetur amet
                            necessitatibus quibusdam consectetur officiis magnam. Minus rem eius consectetur saepe?
                        </p>
                    </div>
                    <div class="col-lg-4 service-page">
                        <img src="Images/ayurvedic.png" class="service-img" alt="physiotherapy">
                        <h3 class="service-heading">ayurved and naturopathy</h3>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                            nisi quasi illo accusamus beatae quae temporibus, architecto alias tenetur amet
                            necessitatibus quibusdam consectetur officiis magnam. Minus rem eius consectetur saepe?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev angle-btn" href="#carouselExampleControls" role="button" data-slide="prev">
        <i class="fas fa-angle-left fa-3x service-icon" style="color: #303a52"></i>
    </a>
    <a class="carousel-control-next angle-btn" href="#carouselExampleControls" role="button" data-slide="next">
        <i class="fas fa-angle-right fa-3x service-icon" style="color: #303a52"></i>
    </a>
</div>

<!-- Message Section -->
<section id="message" class="colored-section">
    <h4>Why Choose us?</h4>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 best">
            <img src="Images/physiotherapy.png" class="service-img" alt="physiotherapy">
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nisi quasi</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 best">
            <img src="Images/opd.png" class="service-img" alt="physiotherapy">
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nisi quasi
                illo
                accusamus beatae quae temporibus, architecto alias</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 best">
            <img src="Images/x-ray.png" class="service-img" alt="physiotherapy">
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nisi quasi
                illo
                accusamus beatae quae temporibus, architecto alias</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 best">
            <img src="Images/x-ray.png" class="service-img" alt="physiotherapy">
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nisi quasi
                illo
                accusamus beatae quae temporibus, architecto alias</p>
        </div>
    </div>
</section>

<!-- Team -->
<section id="team" class="pb-5 white-section">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="Images/amar.jpg" alt="card image"></p>
                                    <h4 class="card-title">Amar Mandal</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Head Surgeon</h6>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Amar Mandal</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.This is basic card with image on top, title, description and
                                        button.This
                                        is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-facebook-f footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-twitter footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="Images/aarush.jpg" alt="card image"></p>
                                    <h4 class="card-title">Aarush Timalsina</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Surgeon</h6>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Aarush Timalsina</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.This is basic card with image on top, title, description and
                                        button.This
                                        is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-facebook-f footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-twitter footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="Images/aarati.jpg" alt="card image"></p>
                                    <h4 class="card-title">Aarati Shah</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Founder, CEO</h6>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Aarati Shah</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.This is basic card with image on top, title, description and
                                        button.This
                                        is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-facebook-f footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-twitter footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="Images/verma.jpg" alt="card image"></p>
                                    <h4 class="card-title">Neha Verma</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Cardiologist</h6>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Neha Verma</h4>
                                    <p class="card-text">This is basic card with image on top, title, description
                                        and
                                        button.This is basic card with image on top, title, description and
                                        button.This
                                        is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-facebook-f footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-twitter footer-logo"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Team -->


<!-- Map section -->
<section id="location">
    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="100%" height="450px" id="gmap_canvas"
                src="https://maps.google.com/maps?q=Kathmandu%20University&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <style>
            .mapouter {
                position: static;
                text-align: right;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
            }
        </style>
    </div>

    <!-- Address Section -->
    <div class="container-fluid address colored-section">
        <div class="row">
            <div class="col-md-6 address-text">
                <h5><i class="fas fa-home"></i>Address</h5>
                <p>My Medic, Kathmandu University<br>28 kilo, Kavre,<br> Nepal</p>
            </div>
            <div class="col-md-6 address-text">
                <h5><i class="fas fa-envelope"></i>Email</h5>
                <p>amarmandal2073@gmail.com <br> <strong>Phone:</strong> +977 9810484330 <br> <strong>Mobile:</strong>
                    +021 1234567</p>
            </div>
        </div>
    </div>

</section>

<%- include('partials/footer'); %>
