<%- include('partials/header') %>
</section>
<div class="jumbotron text-center">
  <div class="container">
    <a class="btn btn-outline-info btn-lg" href="/reschedule" role="button">Reschedule</a>
    <% if (foo === 0) { %>
      <h4>You've no any appointment.</h4>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/appoint" role="button">Appointment</a>
    <% } else if(foo === -1) { %>
      <h4>Appointment Overdue.</h4>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Appointment</button>
    <%} else { %>
      <h4>You've an Appointment on <%= foo %></h4>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Appointment</button>
    <% } %>
    <button type="button" class="btn btn-info btn-lg" onclick="location.href='/getReport';">Get Report</button>

  </div>
</div>

<%- include('partials/footer') %>
