body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/* login button */
@media (min-width: 991px) {
    .login {
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.login {
    text-align: left;
}

/* Colored Section */
.colored-section {
    background: #8ca6db;
    color: #fff;
}

.white-section {
    background: #fff;
}

/* heading section */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Extra-Bold", sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
}

p#head-text {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 6.5rem;
}

h3 {
    font-size: 1.5rem;
}

#message h4 {
    font-size: 3rem;
    margin-bottom: 10%;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

/* Title Section */
#title {
    background: #b993d6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #8ca6db,
        #b993d6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #8ca6db,
        #b993d6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 400px) {
    #navbrand-text {
        font-size: 1.35rem;
    }
}

.ghcs {
    padding: 0;
}

.ghcs h1,
.ghcs p {
    margin-top: 3rem;
    margin-left: 0.9rem;
}

/* container section */
.container-fluid {
    text-align: left;
    padding: 3% 15% 7%;
}

/* header section */
.header-img {
    width: 120%;
    margin: 0 auto;
    position: static;
}

@media (max-width: 993px) {
    #title {
        text-align: center;
    }

    .header-img {
        width: 120%;
        position: relative;
        padding-right: 10%;
    }
}

/* Navbar section */
.navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Montserrat-Bold", sans-serif;
}

.nav-item {
    font-size: 1.2rem;
    color: #f5f5f5;
    margin: 0 20px;
}

/* Services Section */
#services {
    padding: 7% 7%;
}

.service-page {
    padding: 2rem;
}

.service-img {
    width: 18%;
}

.description {
    padding: 5% 10%;
    line-height: 1.6;
}

@media (max-width: 1000px) {
    .angle-btn {
        padding-top: 20rem;
    }
}

/* message section */
#message {
    margin: 7% 0 0;
    padding: 5% 15%;
}

/* Address Section */
.address {
    text-align: center;
}

.address p {
    font-weight: 400;
}

@media (max-width: 767px) {
    .address-text {
        padding: 1.5rem 0;
    }
}

i {
    margin-right: 1rem;
}

/* Footer section */
#footer .container-fluid {
    text-align: center;
    padding: 3% 15%;
}

/* Our team section */
#team {
    padding: 60px 0;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #eee;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
